{
  "openapi": "3.0.1",
  "info": {
    "title": "Photoshop API documentation",
    "description": "API Documentation",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://image.adobe.io/"
    }
  ],
  "tags": [
    {
      "name": "Lightroom",
      "description": "APIs powered by Lightroom"
    },
    {
      "name": "Image Cutout",
      "description": "APIs powered by Sensei"
    }
  ],
  "paths": {
    "/lrService/autoStraighten": {
      "post": {
        "tags": [
          "Lightroom"
        ],
        "summary": "Auto straighten an image",
        "description": "Initiates an asynchronous job to auto straighten an image.\nTo get status of this job,call [Status API](/api/#operation/acrstatus).",
        "operationId": "autoStraighten",
        "parameters": [
          {
            "name": "Authorization",
            "description": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "description": "API key/client id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "description": "application/json",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-gw-ims-org-id",
            "description": "IMS organization ID. This needs to be sent only if it is desirable to receive the job status through Adobe I/O Events.",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./acr/post_auto_straighten.schema.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_success_schema.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_400_error_schema.json"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_402_error_schema.json"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_403_error_schema.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_404_error_schema.json"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-codeSamples": [
          {
            "lang": "shell",
            "source": "curl --request POST \\\n  --url https://image.adobe.io/lrService/autoStraighten \\\n
            --header 'Authorization: STRING_VALUE' \\\n
            --header 'content-type: application/json' \\\n
            --header 'x-api-key: STRING_VALUE' \\\n
            --data '{\"inputs\":{\"href\":\"href\",\"storage\":\"storage\"},\"outputs\":[{\"href\":\"href\",\"storage\":\"storage\",\"type\":\"type\",\"quality\": \"quality\",\"overwrite\": \"overwrite\"}]}'"
          }
        ]
      }
    },
    "/lrService/autoTone": {
      "post": {
        "tags": [
          "Lightroom"
        ],
        "summary": "Auto tone an image",
        "description": "Initiates an asynchronous job to auto tone an image.\nTo get status of this job,call [Status API](/api/#operation/acrstatus).",
        "operationId": "autoTone",
        "parameters": [
          {
            "name": "Authorization",
            "description": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "description": "API key/client id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "description": "application/json",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-gw-ims-org-id",
            "description": "IMS organization ID. This needs to be sent only if it is desirable to receive the job status through Adobe I/O Events.",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./acr/post_auto_tone.schema.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_success_schema.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_400_error_schema.json"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_402_error_schema.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_403_error_schema.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_404_error_schema.json"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-codeSamples": [
          {
            "lang": "shell",
            "source": "curl --request POST \\\n  --url https://image.adobe.io/lrService/autoStraighten \\\n
            --header 'Authorization: STRING_VALUE' \\\n
            --header 'content-type: application/json' \\\n
            --header 'x-api-key: STRING_VALUE' \\\n
            --data '{\"inputs\":{\"href\":\"href\",\"storage\":\"storage\"},\"outputs\":[{\"href\":\"href\",\"storage\":\"storage\",\"type\":\"type\",\"quality\": \"quality\",\"overwrite\": \"overwrite\"}]}'"
          }
        ]
      }
    },
    "/lrService/edit": {
      "post": {
        "tags": [
          "Lightroom"
        ],
        "summary": "Apply edits on an image.",
        "description": "Initiates an asynchronous job to apply a set of edit parameters on an image.\nTo get status of this job,call [Status API](/api/#operation/acrstatus).",
        "operationId": "edit",
        "parameters": [
          {
            "name": "Authorization",
            "description": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "description": "API key/client id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "description": "application/json",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-gw-ims-org-id",
            "description": "IMS organization ID. This needs to be sent only if it is desirable to receive the job status through Adobe I/O Events.",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./acr/post_image_edit.schema.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_success_schema.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_400_error_schema.json"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_402_error_schema.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_403_error_schema.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_404_error_schema.json"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-codeSamples": [
          {
            "lang": "shell",
            "source": "curl --request POST \\\n  --url https://image.adobe.io/lrService/autoStraighten \\\n
            --header 'Authorization: STRING_VALUE' \\\n
            --header 'content-type: application/json' \\\n
            --header 'x-api-key: STRING_VALUE' \\\n
            --data '{\"inputs\":{\"href\":\"href\",\"storage\":\"storage\"},\"outputs\":[{\"href\":\"href\",\"storage\":\"storage\",\"type\":\"type\",\"quality\": \"quality\",\"overwrite\": \"overwrite\"}]}'"
          }
        ]
      }
    },
    "/lrService/presets": {
      "post": {
        "tags": [
          "Lightroom"
        ],
        "summary": "Apply a presets on an image",
        "description": "Initiates an asynchronous job to apply a preset on an image.\nTo get status of this job,call [Status API](/api/#operation/acrstatus).",
        "operationId": "presets",
        "parameters": [
          {
            "name": "Authorization",
            "description": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "description": "API key/client id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "description": "application/json",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-gw-ims-org-id",
            "description": "IMS organization ID. This needs to be sent only if it is desirable to receive the job status through Adobe I/O Events.",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./acr/post_presets.schema.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_success_schema.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_400_error_schema.json"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_402_error_schema.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_403_error_schema.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_404_error_schema.json"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-codeSamples": [
          {
            "lang": "shell",
            "source": "curl --request POST \\\n  --url https://image.adobe.io/lrService/autoStraighten \\\n
            --header 'Authorization: STRING_VALUE' \\\n
            --header 'content-type: application/json' \\\n
            --header 'x-api-key: STRING_VALUE' \\\n
            --data '{\"inputs\":{\"href\":\"href\",\"storage\":\"storage\"},\"outputs\":[{\"href\":\"href\",\"storage\":\"storage\",\"type\":\"type\",\"quality\": \"quality\",\"overwrite\": \"overwrite\"}]}'"
          }
        ]
      }
    },
    "/lrService/xmp": {
      "post": {
        "tags": [
          "Lightroom"
        ],
        "summary": "Apply xmp on an image.",
        "description": "Initiates an asynchronous job to apply an XMP setting to an image.\nTo get status of this job,call [Status API](/api/#operation/acrstatus).",
        "operationId": "xmp",
        "parameters": [
          {
            "name": "Authorization",
            "description": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "description": "API key/client id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "description": "application/json",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-gw-ims-org-id",
            "description": "IMS organization ID. This needs to be sent only if it is desirable to receive the job status through Adobe I/O Events.",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./acr/post_xmp.schema.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_success_schema.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_400_error_schema.json"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_402_error_schema.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_403_error_schema.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./api_response_404_error_schema.json"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-codeSamples": [
          {
            "lang": "shell",
            "source": "curl --request POST \\\n  --url https://image.adobe.io/lrService/autoStraighten \\\n
            --header 'Authorization: STRING_VALUE' \\\n
            --header 'content-type: application/json' \\\n
            --header 'x-api-key: STRING_VALUE' \\\n
            --data '{\"inputs\":{\"href\":\"href\",\"storage\":\"storage\"},\"outputs\":[{\"href\":\"href\",\"storage\":\"storage\",\"type\":\"type\",\"quality\": \"quality\",\"overwrite\": \"overwrite\"}]}'"
          }
        ]
      }
    },
    "/lrService/status/{jobId}": {
      "get": {
        "tags": [
          "Lightroom"
        ],
        "summary": "Returns the status of a job.",
        "description": "Returns the status of a job.",
        "operationId": "acrstatus",
        "parameters": [
          {
            "name": "Authorization",
            "description": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "description": "API key/client id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "description": "application/json",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-gw-ims-org-id",
            "description": "IMS organization ID. This needs to be sent only if it is desirable to receive the job status through Adobe I/O Events.",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "path",
            "description": "The jobId to get status for.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./acr/get_status.schema.json"
                }
              }
            }
          }
        }
      }
    }
  }
}
